<div class="category">
  <div class="category-list">
    <a href="/?category=omoshiro" id="category-1" onclick="ga('send', 'event', 'category_omoshiro', 'click');">おもしろ</a>
    <a href="/?category=horror" id="category-2" onclick="ga('send', 'event', 'category_horror', 'click');">洒落怖</a>
    <a href="/?category=entame" id="category-3" onclick="ga('send', 'event', 'category_entame', 'click');">エンタメ</a>
  </div>
  <div class="category-list">
    <a href="/?category=game" id="category-4" onclick="ga('send', 'event', 'category_game', 'click');">ゲーム</a>
    <a href="/?category=tec" id="category-5" onclick="ga('send', 'event', 'category_tec', 'click');">テクノロジー</a>
    <a href="/adult" id="category-6" onclick="ga('send', 'event', 'category_adult', 'click');">アダルト</a>
  </div>
</div>
