<div class="category">
  <div class="category-list">
    <a href="/?category=omoshiro" id="category-1">おもしろ</a>
    <a href="/?category=horror" id="category-2">洒落怖</a>
    <a href="/?category=entame" id="category-3">エンタメ</a>
  </div>
  <div class="category-list">
    <a href="/?category=game" id="category-4">ゲーム</a>
    <a href="/?category=tec" id="category-5">テクノロジー</a>
    <a href="/adult" id="category-6">アダルト</a>
  </div>
</div>
