<div class="main-carousel" style="margin-top:5px;">
  <div class="carousel-cell"><img src="/images/monst.jpg" style="height:200px;"></div>
  <div class="carousel-cell"><a href="https://itunes.apple.com/jp/app/pokemon-go/id1094591345?mt=8&at=ne5JoJIY&ct=pokemongo_slider"><img src="/images/pokemongo.jpg" style="height:200px;"></a></div>
  <div class="carousel-cell"><img src="/images/pazudora.jpg" style="height:200px;"></div>
</div>
