.back-button {
  width: 80%;
  height: 50px;
  text-align: center;
  background-color: #D3D3D3;
  margin: 0 auto;
  margin-bottom: 10px;
}

.back-button a {
  display: block;
  line-height: 50px;
  text-decoration: none;
  color: #fff;
}
